<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="css/login.css">
<title>Reporte</title>
</head>
<body>
	<label>Administrador</label>
	<a href="http://www.google.com.ar"><img src="img/Logout.jpg"
		alt="titulo enlace" border="0" style="width: 50;" /></a>
	<label>SGE</label>
	<label>Reporte Nro 1</label>
	<p>Seleccione un cliente para calcular su consumo:</p>
	<select>
		<option>Cliente1</option>
		<option>Cliente2</option>
		<option>Cliente3</option>
		<option>Cliente4</option>
	</select>
	<p>El consumo del cliente "VarNombreCliente" es:</p>
	<label>Valor en KW</label>
</body>
</html>