{{#partial "pre-content"}}
  		<a type="button" href="/cliente/hogar/mediciones" role="button" class="btn btn-primary btn-lg active">Mediciones</a>
  		<a type="button" href="/cliente/hogar/ultimoperiodo" role="button" class="btn btn-primary btn-lg active">Ultimo Periodo</a>
  		<a type="button" href="/cliente/hogar/dispositivos" role="button" class="btn btn-primary btn-lg active">Estado Dispositivos</a>
  		<br>
  		<br>
{{/partial}}

{{> navbarCliente.hbs}}