<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/login.css">
		<title>	{{#block "title"}}{{/block}}</title>
		<script type="text/javascript">
			if( {{ booleano }} ){
				alert("Usuario y/o contraseña incorrecta, intente nuevamente");
			}
		</script>
	</head>
	<body>
		<div class="container">
			{{#block "content"}}
			{{/block}}
		</div>
	</body>
</html>