{{#partial "pre-content"}}
  		<a type="button" href="/cliente/hogar/mediciones" role="button" class="btn btn-secondary">Mediciones</a>
  		<a type="button" href="/cliente/hogar/ultimoperiodo" role="button" class="btn btn-secondary">Ultimo Periodo</a>
  		<a type="button" href="/cliente/hogar/dispositivos" role="button" class="btn btn-secondary">Estado Dispositivos</a>
  		<br>
  		<br>
{{/partial}}

{{> layoutCliente.hbs}}