{{#partial "title"}} Login {{/partial}} {{#partial "content"}}
<div class="container" id="container-login">
	<div class="row" id="pwd-container">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<section class="login-form">
				<div>
					<img
						src="https://us.123rf.com/450wm/apttone/apttone1610/apttone161000003/66216603-ndice-de-eficiencia-energ%C3%A9tica-ecolog%C3%ADa-y-ahorro-de-energ%C3%ADa-la-escala-de-eficiencia-energ%C3%A9tica-soluciones-de.jpg?ver=6"
						align="middle" style="width: 150;">
					<h4 style="text-align: center;">SGE</h4>
				</div>
				<form action="/login" method="post">
					<input type="email" name="email" class="form-control"
						id="exampleInputEmail1" aria-describedby="emailHelp"
						placeholder="&#128103; Usuario"> <input type="password"
						name="password" class="form-control" id="exampleInputPassword1"
						placeholder="&#128272; Contrase&#241;a">

					<button type="submit" class="btn btn-lg btn-primary btn-block"
						FORMMETHOD="post">Ingresar</button>
				</form>
				<small>Realizado por Grupo 7</small>
			</section>
		</div>
	</div>
</div>
{{/partial}} {{> layout.hbs}}
