<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/login.css">
		<title>Login</title>
	</head>
	<body>
		<div class="container" id="container-login">
			<div class="row" id="pwd-container">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<section class="login-form">
						<div>
							<img src="img/logo_sge.png" align="middle" style="width: 150;">
							<h4 style="text-align: center;">SGE</h4>
						</div>
						<form action="/principal" method="post">
							<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario">
						  	
						  	<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contrase&#241;a">
					 		
					 		<button type="submit" class="btn btn-lg btn-primary btn-block" FORMMETHOD="post">Ingresar</button>
						</form>
						<small>Realizado por Grupo 7</small>
				      </section>  
				</div>
			  </div>
  		</div>
	</body>
</html>