<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="css/reporte.css">
<title>ReporteNro2</title>
</head>
<body>
	<h2>Obtener Consumo Promedio por Cliente</h2>
	<p></p>
	<label>Ingrese un cliente para calcular el promedio de consumo
		por dispositivo: </label>
	<form action="/principal/reporte" method="post">
		<input type="number" name="busqueda" class="form-control"
			id="inputBusqueda" placeholder="DNI cliente: XXXXXXXX">
		<p></p>
		<button type="submit" class="btn btn-lg btn-primary btn-block"
			FORMMETHOD="post">Buscar</button>
	</form>
	<label>El consumo promedio por dispositivo para {{
		clienteEncontrado }}: {{ consumoCalculado }}</label>
</body>
</html>