{{#partial "head"}}
<title>Optimizaciones</title>
{{/partial}}

{{#partial "content"}}
	{{#each cliente.consumoIdeal.pares}}
		<div class="card text-white bg-dark mb-3" style="width: 20rem;">
			<div class="card-body">
				<h5 class="card-title">{{dispositivo.nombre}}</h5>
				<button id = "optimizar_btn" class="btn btn-default">Optimizar</button>
				<label id="consumo_label" style="display: none;">{{consumo}}</label>
			</div>
		</div>
	{{/each}}
{{/partial}}

{{>navbarCliente.hbs}}