{{#partial "head"}}
<title>Ultimas Mediciones</title>
{{/partial}}

{{#partial "content"}}
	{{#each cliente.dispositivos}}
	
		<br>
		<div class="card text-white bg-dark mb-3" style="width: 20rem;">
		 
		 
		  <div class="card-body">
		  
		  	<h5 class="card-title">{{nombre}}</h5>
		  	<p class="card-text">{{consumo}}</p>
		  	
		  </div>
		</div>
		
		<div>
		
			 {{#each intervalosDeEstadoEnMes}}
		    		<h6 class="card-estado">{{estado}}</h6> 			
		  	 {{/each}}
		
		</div>
		
		
	{{/each}}
{{/partial}}

{{>layoutHogar.hbs}}