{{#partial "head"}}
<title>Consumo de ultimo periodo</title>
{{/partial}}

{{#partial "content"}}
	<div class="card" style="width: 50rem;">
	  <div class="card-body">
	    <h5 class="card-title">Ultimo Consumo</h5>
	    <p class="card-text">Consumo:</p>
	    <label>Fecha inicio:</label><br>
	    <label>Fecha final:</label>
	  </div>
	</div>
{{/partial}}

{{>layoutHome.hbs}}