{{#partial "head"}}
<title>Consumos por Periodo</title>
{{/partial}}

{{#partial "content"}}
<br>
	{{#each cliente.consumosUltimosPeriodos}}
	<br>
	<div class="card text-white bg-info mb-3" style="width: 20rem;">
	  <div class="card-header">{{mes}}</div>
	  <div class="card-body">
		<p class="card-text">{{consumo}}</p>
	  </div>
	</div>
	{{/each}}
{{/partial}}

{{>navbarCliente.hbs}}