{{#partial "head"}}
<title>Ultimas Mediciones</title>
{{/partial}}

{{#partial "content"}}
		<br>
		{{#each cliente.consumosUltimosPeriodos}}
		<div class="card text-white bg-dark mb-3" style="width: 20rem;">
	  <div class="card-header">{{mes}}</div>
	  <div class="card-body">
		<p class="card-text">{{consumo}}</p>
	  </div>
	</div>
	{{/each}}
{{/partial}}

{{>layoutHogar.hbs}}