{{#partial "head"}}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Ultimas Mediciones</title>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#periodos *").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    $('.container').find(".card-header:not(:contains(" + filter + "))").parent().css("display","none"); 
  });
});
</script>

{{/partial}}

{{#partial "content"}}
<br>

		Busque el mes que desea consultar:<input class="form-control" id="myInput" type="text" placeholder="Buscar..." style="width: 20rem;">	
<br>
	
		<div id="periodos" class="card text-white  mb-3" 
			style="width: 20rem; border-bottom-width: 0px;
				border-right-width: 0px;
				border-left-width: 0px;
				border-top-width: 0px;">	
				{{#each cliente.consumosUltimosPeriodos}}
<br>	
	  		<div class="card-header bg-info " 
	  			style= "margin-bottom: 20px;">
						{{mes}} {{consumo}}
			</div>
				{{/each}}
		</div>
	
{{/partial}}

{{>layoutHogar.hbs}}