{{#partial "head"}}
<title>Consumos</title>
		<style>
			table {
				font-family: arial, sans-serif;
				border-collapse: collapse;
				width: 100%;
			}

			td, th {
				border: 1px solid #dddddd;
				text-align: left;
				padding: 8px;
			}

			tr:nth-child(even) {
				background-color: #dddddd;
			}
		</style>
{{/partial}}

{{#partial "content"}}
	<label>Consumos</label>
		<table>
			<tr>
				<th> Nombre Cliente </th>
				<th> Email </th>
				<th> Consumo </th>
			</tr>
			{{#each clientes}}
			<tr>
				<td> {{ nombreYApellido }} </td>
				<td> {{ email }} </td>
				<td> {{ consumos }} </td>
			</tr>
			{{/each}}
		</table>
{{/partial}}

{{> navbarAdmin.hbs}}